In [149]:
import numpy as np
import pandas as pd

In [150]:
dfb=pd.read_csv("wbc.csv")

In [151]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness       699 non-null int64
cell_size             699 non-null int64
cell_shape            699 non-null int64
marginal_adhesion     699 non-null int64
epitelial_cellsize    699 non-null int64
bare_nuclei           699 non-null object
bland_chromatin       699 non-null int64
normal_nucleoli       699 non-null int64
mitoses               699 non-null int64
jenis                 699 non-null int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [139]:
dfb = dfb.replace('?',np.nan)

In [140]:
dfb[dfb.isnull().any(axis=1)]

,clump_thickness,cell_size,cell_shape,marginal_adhesion,epitelial_cellsize,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,jenis
23,8,4,5,1,2,NaN,7,3,1,4
40,6,6,6,9,6,NaN,7,8,1,2
139,1,1,1,1,1,NaN,2,1,1,2
145,1,1,3,1,2,NaN,2,1,1,2
158,1,1,2,1,3,NaN,1,1,1,2
164,5,1,1,1,2,NaN,3,1,1,2
235,3,1,4,1,2,NaN,3,1,1,2
249,3,1,1,1,2,NaN,3,1,1,2
275,3,1,3,1,2,NaN,2,1,1,2
292,8,8,8,1,2,NaN,6,10,1,4
294,1,1,1,1,2,NaN,2,1,1,2
297,5,4,3,1,2,NaN,2,3,1,2
315,4,6,5,6,7,NaN,4,9,1,2
321,3,1,1,1,2,NaN,3,1,1,2
411,1,1,1,1,1,NaN,2,1,1,2
617,1,1,1,1,1,NaN,1,1,1,2

In [141]:
dfb=dfb.dropna()

In [142]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness       683 non-null int64
cell_size             683 non-null int64
cell_shape            683 non-null int64
marginal_adhesion     683 non-null int64
epitelial_cellsize    683 non-null int64
bare_nuclei           683 non-null object
bland_chromatin       683 non-null int64
normal_nucleoli       683 non-null int64
mitoses               683 non-null int64
jenis                 683 non-null int64
dtypes: int64(9), object(1)
memory usage: 58.7+ KB

In [143]:
dfb['bare_nuclei']=dfb['bare_nuclei'].astype(object).astype(int)

In [144]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 683 entries, 0 to 698
Data columns (total 10 columns):
clump_thickness       683 non-null int64
cell_size             683 non-null int64
cell_shape            683 non-null int64
marginal_adhesion     683 non-null int64
epitelial_cellsize    683 non-null int64
bare_nuclei           683 non-null int32
bland_chromatin       683 non-null int64
normal_nucleoli       683 non-null int64
mitoses               683 non-null int64
jenis                 683 non-null int64
dtypes: int32(1), int64(9)
memory usage: 56.0 KB

In [145]:
dfb[dfb.isnull().any(axis=1)]

Empty DataFrame
Columns: [clump_thickness, cell_size, cell_shape, marginal_adhesion, epitelial_cellsize, bare_nuclei, bland_chromatin, normal_nucleoli, mitoses, jenis]
Index: []

In [146]:
dfb.describe()

,clump_thickness,cell_size,cell_shape,marginal_adhesion,epitelial_cellsize,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,jenis
count,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000,683.000000
mean,4.442167,3.150805,3.215227,2.830161,3.234261,3.544656,3.445095,2.869693,1.603221,2.699854
std,2.820761,3.065145,2.988581,2.864562,2.223085,3.643857,2.449697,3.052666,1.732674,0.954592
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,6.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [147]:
dfb

,clump_thickness,cell_size,cell_shape,marginal_adhesion,epitelial_cellsize,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,jenis
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2
10,1,1,1,1,1,1,3,1,1,2
11,2,1,1,1,2,1,2,1,1,2
12,5,3,3,3,2,3,4,4,1,4
13,1,1,1,1,2,3,3,1,1,2
14,8,7,5,10,7,9,5,5,4,4
15,7,4,6,4,6,1,4,3,1,4
16,4,1,1,1,2,1,2,1,1,2
17,4,1,1,1,2,1,3,1,1,2
18,10,7,7,6,4,10,4,1,2,4
19,6,1,1,1,2,1,3,1,1,2
20,7,3,2,10,5,10,5,4,4,4
21,10,5,5,3,6,7,7,10,1,4
22,3,1,1,1,2,1,2,1,1,2
24,1,1,1,1,2,1,3,1,1,2
25,5,2,3,4,2,7,3,6,1,4
26,3,2,1,1,1,1,2,1,1,2
27,5,1,1,1,2,1,2,1,1,2
28,2,1,1,1,2,1,2,1,1,2
29,1,1,3,1,2,1,1,1,1,2
30,3,1,1,1,1,1,2,1,1,2
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,4
670,3,10,7,8,5,8,7,4,1,4
671,3,2,1,2,2,1,3,1,1,2
672,2,1,1,1,2,1,3,1,1,2
673,5,3,2,1,3,1,1,1,1,2
674,1,1,1,1,2,1,2,1,1,2
675,4,1,4,1,2,1,1,1,1,2
676,1,1,2,1,2,1,2,1,1,2
677,5,1,1,1,2,1,1,1,1,2
678,1,1,1,1,2,1,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,10,10,10,10,5,10,10,10,7,4
681,5,10,10,10,4,10,5,6,3,4
682,5,1,1,1,2,1,3,2,1,2
683,1,1,1,1,2,1,1,1,1,2
684,1,1,1,1,2,1,1,1,1,2
685,1,1,1,1,2,1,1,1,1,2
686,1,1,1,1,2,1,1,1,1,2
687,3,1,1,1,2,1,2,3,1,2
688,4,1,1,1,2,1,1,1,1,2
689,1,1,1,1,2,1,1,1,8,2
690,1,1,1,3,2,1,1,1,1,2
691,5,10,10,5,4,5,4,4,1,4
692,3,1,1,1,2,1,1,1,1,2
693,3,1,1,1,2,1,2,1,2,2
694,3,1,1,1,3,2,1,1,1,2
695,2,1,1,1,2,1,1,1,1,2
696,5,10,10,3,7,3,8,10,2,4
697,4,8,6,4,3,4,10,6,1,4
698,4,8,8,5,4,5,10,4,1,4